<body class="text-center">
  <h1>Register for new Account!</h1>
  
  <section class = "signup-form">

    <%= form_for :user, class: "form-signin" , url:
    '/users' do |f| %>
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control" %>
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class: "form-control" %>
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    
    <br />
    <%= f.submit "Sign up!", class: "btn btn-default btn-primary" %> <% end %>
  </section>
</body>
