<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
    <p>Quantity: <%= quantity %> Price: <%= humanized_money_with_symbol (quantity * product.price_cents) / 100.0 %></p>
  </td>
</tr>